body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px; /* Espaço abaixo do título */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave na cor do botão */
}

button:hover {
    background-color: #45a049;
}

label {
    display: block; /* Faz com que o rótulo ocupe toda a largura disponível */
    margin-bottom: 5px; /* Espaço abaixo do rótulo */
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 22px); /* Largura do campo de entrada com margem */
    padding: 10px;
    margin-bottom: 15px; /* Espaço abaixo do campo de entrada */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 5px; /* Borda arredondada */
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #4CAF50; /* Cor da borda ao focar */
    outline: none; /* Remove contorno padrão */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0; /* Margem acima da lista */
}

li {
    background-color: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

li:hover {
    background-color: #ccc; /* Cor de fundo ao passar o mouse */
}

#numeros-fixos {
    margin-top: 15px; /* Espaço acima do container de números fixos */
}
